# UPLOAD BY ARYA CHANNEL99
# UDANAWU BLITAR JATIM
port: 7890
socks-port: 7891
mixed-port: 10809
mode: global
log-level: silent
allow-lan: true
external-controller: 0.0.0.0:9090
secret : ""
bind-address: "*"
external-ui: yacd-gh-pages
dns:
  enable: true
  ipv6: false
  enhanced-mode: redir-host
  listen: 127.0.0.1:7894
  use-hosts: true
  nameserver:
    - https://cloudflare-dns.com/dns-query
    - 1.1.1.1
  fallback:
    - https://dns.google/dns-query
#vmess   
proxies:
  - name: vmess1
    server: 104.18.21.219
    port: 443
    type: vmess
    uuid: afef92d5-b5b9-46aa-a982-3914fe62c1c5
    alterId: 0
    cipher: auto
    tls: true
    skip-cert-verify: true
    servername: id5.v2-ray.com
    network: ws
    ws-opts:
      path: /fastssh/aryablitarne/627af7ddc069e/
      headers:
        Host: id5.v2-ray.com
    udp: true
  - name: vmess2
    server: 104.18.21.219
    port: 443
    type: vmessproxies:
- name: "HOWDY SG HE MUX"
  type: trojan
  server: sg6-trojan.bonds.id
  port: 443
  password: ee4fdb30-b95c-11ed-aec1-1239d0255272
  udp: true
  sni: zendesk1.garena.com
  alpn:
     - h2
     - http/1.1
  skip-cert-verify: true
  
- name: "HOWDY SG HE 1"
  type: trojan
  server: sg1-trojan.bonds.id
  port: 443
  password: 2be311a0-b95d-11ed-8337-1239d0255272
  udp: true
  sni: ffsoporte.garena.com
  alpn:
     - h2
     - http/1.1
  skip-cert-verify: true

- name: "HOWDY SG AMP"
  type: trojan
  server: sg-2.test3.net
  port: 443
  password: 69a5de00-b71a-11ed-8d58-1239d0255272
  udp: true
  sni: zendesk1.garena.com
  alpn:
     - h2
     - http/1.1
  skip-cert-verify: true
  
- name: "HOWDY SG OVH"
  type: trojan
  server: sg-3.test3.net
  port: 443
  password: 71e601d0-b95d-11ed-9558-1239d0255272
  udp: true
  sni: zendesk1.garena.com
  alpn:
     - h2
     - http/1.1
  skip-cert-verify: true
  
- name: "HOWDY ID BIZNET"
  type: trojan
  server: id-1.test3.net
  port: 443
  password: a7ac2af0-b716-11ed-9f1e-1239d0255272
  udp: true
  sni: zendesk1.garena.com
  alpn:
     - h2
     - http/1.1
  skip-cert-verify: true
  
- name: "OPEN TUNNEL SG"
  type: trojan
  server: sgt-1.opensvr.net
  port: 443
  password: opentunnel.net-keepthinking1
  udp: true
  sni: zendesk1.garena.com
  alpn:
     - h2
     - http/1.1
  skip-cert-verify: true

- name: "RACE VPN SG"
  type: trojan
  server: sg-full.privateip.net
  port: 443
  password: 1308515a-743d-4312-9412-07a5130939
  udp: true
  sni: zendesk1.garena.com
  alpn:
     - h2
     - http/1.1
  skip-cert-verify: true
  
- name: "JAGOAN SSH SG 3"
  type: trojan
  server: sg3go.ipservers.xyz
  port: 443
  password: jagoanssh-keepthinking
  udp: true
  sni: zendesk1.garena.com
  alpn:
     - h2
     - http/1.1
  skip-cert-verify: true
  
- name: "VMESS OPENTUNNEL"
  server: sgv-3.openv2ray.com
  port: 443
  type: vmess
  uuid: a40d34c6-b77c-4648-9210-3e8d2f4226b5
  alterId: 0
  cipher: auto
  tls: true
  skip-cert-verify: true
  servername: 
  network: ws
  ws-opts:
    path: /u/opentunnel.net-keepthinking
    headers:
      Host: zendesk1.garena.com
  udp: true
  
- name: "VPNSTUNNEL SG"
  server: ray.vpnstunnel.me
  port: 443
  type: trojan
  password: 37fd51dd-899f-4383-b086-88a8fc6d7aba
  skip-cert-verify: true
  sni: zendesk1.garena.com
  network: ws
  ws-opts:
    path: /trojan
    headers:
      Host: zendesk1.garena.com
  udp: true
  
- name: "VPNHACK SG"
  server: sg1.trojanvh.xyz
  port: 443
  type: trojan
  password: 9e186a29-c94b-49bc-89f3-a035048a8f04
  skip-cert-verify: true
  sni: zendesk1.garena.com
  network: ws
  ws-opts:
    path: /websocket
    headers:
      Host: sg1.trojanvh.xyz
  udp: true
proxy-groups:
  - name: ğ™ğ™€ğ™‡ğ™€ğ˜¾ğ™ ğ™ğ™€ğ™ğ™‘ğ™€ğ™
    type: select
    proxies:
      - HOWDY SG HE MUX
      - HOWDY SG HE 1
      - HOWDY SG AMP
      - HOWDY SG OVH
      - HOWDY ID BIZNET
      - OPEN TUNNEL SG
      - RACE VPN SG
      - JAGOAN SSH SG 3
      - VMESS OPENTUNNEL
      - VPNSTUNNEL SG
      - VPNHACK SG
  - name: ğ˜½ğ™€ğ™ğ™ ğ™ğ™‹ğ™€ğ™€ğ˜¿ ğ™ğ™€ğ™ğ™‘ğ™€ğ™
    type: url-test
    url: http://hi.bonds.id/ping
    interval: 300
    tolerance: 50
    proxies:
      - HOWDY SG HE MUX
      - HOWDY SG HE 1
      - HOWDY SG AMP
      - HOWDY SG OVH
      - HOWDY ID BIZNET
      - OPEN TUNNEL SG
      - RACE VPN SG
      - JAGOAN SSH SG 3
      - VMESS OPENTUNNEL
      - VPNSTUNNEL SG
      - VPNHACK SG
rules:
  - MATCH,ğ™ğ™€ğ™‡ğ™€ğ˜¾ğ™ ğ™ğ™€ğ™ğ™‘ğ™€ğ™
  - MATCH,ğ˜½ğ™€ğ™ğ™ ğ™ğ™‹ğ™€ğ™€ğ˜¿ ğ™ğ™€ğ™ğ™‘ğ™€ğ™
  
    uuid: afef92d5-b5b9-46aa-a982-3914fe62c1c5
    alterId: 0
    cipher: auto
    tls: true
    skip-cert-verify: true
    servername: id5.v2-ray.com
    network: ws
    ws-opts:
      path: /fastssh/aryablitarne/627af7ddc069e/
      headers:
        Host: id5.v2-ray.com
    udp: true
#VmessGrpc
  - name: vmessGrpc1
    server: cdntest40.line-scdn.net
    port: 443
    type: vmess
    uuid: 5e5e92eb-f92a-4083-ba60-0f9de9518ce0
    alterId: 0
    cipher: auto
    tls: true
    skip-cert-verify: true
    servername: sg1grpc.serverssh.us
    network: grpc
    grpc-opts:
      grpc-service-name: grpc
    udp: true
  - name: vmessGrpc2
    server: cdntest40.line-scdn.net
    port: 443
    type: vmess
    uuid: 5e5e92eb-f92a-4083-ba60-0f9de9518ce0
    alterId: 0
    cipher: auto
    tls: true
    skip-cert-verify: true
    servername: sg1grpc.serverssh.us
    network: grpc
    grpc-opts:
      grpc-service-name: grpc
    udp: true
#TrojanGo
  - name: TrojanGo1
    server: cdntest40.line-scdn.net
    port: 443
    type: trojan
    password: 7b4986c0-d0bb-11ec-af18-1239d0255272
    skip-cert-verify: true
    sni: id2-trojan.bonds.id
    network: ws
    ws-opts:
      path: /howdy
      headers:
        Host: id2-trojan.bonds.id
    udp: true
  - name: TrojanGo2
    server: cdntest40.line-scdn.net
    port: 443
    type: trojan
    password: 7b4986c0-d0bb-11ec-af18-1239d0255272
    skip-cert-verify: true
    sni: id2-trojan.bonds.id
    network: ws
    ws-opts:
      path: /howdy
      headers:
        Host: id2-trojan.bonds.id
    udp: true
#TrojanGrc
  - name: TrojanGrpc1
    server: cdntest40.line-scdn.net
    port: 8443
    type: trojan
    password: dd3def95-3d3b-46d6-b988-65193fd20cc2
    skip-cert-verify: true
    sni: do7.kitu.xyz
    network: grpc
    grpc-opts:
      grpc-service-name: xray-trojan-grpc
    udp: true
  - name: TrojanGrpc2
    server: cdntest40.line-scdn.net
    port: 8443
    type: trojan
    password: dd3def95-3d3b-46d6-b988-65193fd20cc2
    skip-cert-verify: true
    sni: do7.kitu.xyz
    network: grpc
    grpc-opts:
      grpc-service-name: xray-trojan-grpc
    udp: true
#Trojan-ssl
  - name: Trojan-Ssl1
    server: 103.93.59.208
    port: 443
    type: trojan
    password: 742f9630-d0bc-11ec-b8c1-1239d0255272
    skip-cert-verify: true
    sni: pubgmobile.com
    udp: true
  - name: Trojan-Ssl2
    server: 103.93.59.208
    port: 443
    type: trojan
    password: 742f9630-d0bc-11ec-b8c1-1239d0255272
    skip-cert-verify: true
    sni: pubgmobile.com
    udp: true
#SadowsoksSsr
  - name: Shadowsocks1
    server: 51.79.173.62
    port: 1443
    type: ss
    cipher: aes-256-cfb
    password: m6j4O4cGc5
    plugin: obfs
    plugin-opts:
      mode: tls
      host: pubgmobile.com
    udp: true
  - name: Shadowsocks2
    server: 51.79.173.62
    port: 1443
    type: ss
    cipher: aes-256-cfb
    password: m6j4O4cGc5
    plugin: obfs
    plugin-opts:
      mode: tls
      host: pubgmobile.com
    udp: true
proxy-groups:
  - name: GRUP-BLITAR-CANTIK
    type: select
    proxies:
      - vmess1
      - vmess2
      - vmessGrpc1
      - vmessGrpc2
      - TrojanGo1
      - TrojanGo2
      - TrojanGrpc1
      - TrojanGrpc2
      - Trojan-Ssl1
      - Trojan-Ssl2
      - Shadowsocks1
      - Shadowsocks2
      - LOAD-BALANCE
      - BEST-PING
      - FALLBACK
      - DIRECT
  - name: LOAD-BALANCE
    type: load-balance
    strategy: consistent-hashing
    url: http://www.gstatic.com/generate_204
    interval: 300
    proxies:
      - vmess1
      - vmess2
      - vmessGrpc1
      - vmessGrpc2
      - TrojanGo1
      - TrojanGo2
      - TrojanGrpc1
      - TrojanGrpc2
      - Trojan-Ssl1
      - Trojan-Ssl2
      - Shadowsocks1
      - Shadowsocks2
  - name: BEST-PING
    type: url-test
    url: http://www.gstatic.com/generate_204
    interval: 300
    tolerance: 50
    proxies:
      - vmess1
      - vmess2
      - vmessGrpc1
      - vmessGrpc2
      - TrojanGo1
      - TrojanGo2
      - TrojanGrpc1
      - TrojanGrpc2
      - Trojan-Ssl1
      - Trojan-Ssl2
      - Shadowsocks1
      - Shadowsocks1
  - name: FALLBACK
    type: fallback
    url: http://www.gstatic.com/generate_204
    interval: 300
    proxies:
      - vmess1
      - vmess2
      - vmessGrpc1
      - vmessGrpc2
      - TrojanGo1
      - TrojanGo2
      - TrojanGrpc1
      - TrojanGrpc2
      - Trojan-Ssl1
      - Trojan-Ssl2
      - Shadowsocks1
      - Shadowsocks1
rule-providers:
  clash:
    type: http
    behavior: domain
    url: https://howdy.id/download/rules/clash.txt
    path: ./providers/rule-provider_clash.yaml
    interval: 86400
rules:
  - MATCH,GRUP-BLITAR-CANTIK
#Start Coy...
